<div class="d-inline-block table-padding">
  <p-table [value]="rows" [dataKey]="'id'" [editMode]="'row'" [tableStyleClass]="'table-width'" (onRowReorder)="saveRows()">
    <ng-template pTemplate="header">
      <tr>
        <th style="width:4.5em"></th>
        <th>Description</th>
        <th>Value</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-row let-index="rowIndex" let-editing="editing">
      <tr [pReorderableRow]="index" [pEditableRow]="row">
        <td *ngIf="editing"></td>
        <td *ngIf="!editing" pReorderableRowHandle class="cursor-move text-center">
          <i class="fa fa-bars"></i>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="ui-inputgroup">
                <textarea pInputTextarea class="w-100prc" [(ngModel)]="row.description" [rows]="1" [autoResize]="true"></textarea>
                <button pButton pSaveEditableRow pInitEditableRow class="ui-button-success" icon="pi pi-check" [title]="'Update'" (click)="updateRow(row)"></button>
                <button pButton pCancelEditableRow class="ui-button-danger" icon="pi pi-times" [title]="'Cancel'" (click)="cancelEditRow(row, index)"></button>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              <div class="d-flex">
                <div class="row align-items-center w-100prc">
                  <div class="col-12">
                    {{ row.description }}
                  </div>
                </div>
                <div class="ui-inputgroup">
                  <button pButton pInitEditableRow class="ui-button-warning" icon="pi pi-pencil" [title]="'Edit'" (click)="editRow(row)"></button>
                  <button pButton class="ui-button-danger" icon="pi pi-trash" [title]="'Delete'" (click)="deleteRow(index)"></button>
                </div>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
        <td>
          <p-cellEditor>
            <ng-template pTemplate="input">
              <div class="ui-inputgroup">
                <textarea pInputTextarea class="w-100prc" [(ngModel)]="row.value" [rows]="1" [autoResize]="true"></textarea>
                <button pButton icon="pi pi-copy" [title]="'Copy'" (click)="copyRow(row)"></button>
              </div>
            </ng-template>
            <ng-template pTemplate="output">
              <div class="d-flex">
                <div class="row align-items-center w-100prc">
                  <div class="col-12">
                    {{ row.value }}
                  </div>
                </div>
                <button pButton icon="pi pi-copy" [title]="'Copy'" (click)="copyRow(row)"></button>
              </div>
            </ng-template>
          </p-cellEditor>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-confirmDialog #cd header="Confirmation" icon="pi pi-exclamation-triangle">
  <p-footer>
    <button type="button" pButton icon="pi pi-times" label="No" (click)="cd.reject()"></button>
    <button type="button" pButton icon="pi pi-check" label="Yes" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>


<!-- <div class="row">
  <div class="col-auto">

  </div>
  <div class="col-auto">
    <div class="ui-inputgroup">
      <textarea pInputTextarea class="w-300" [rows]="1" [autoResize]="true"></textarea>
      <button pButton [title]="'Copy'" icon="pi pi-copy" (onClick)="copy()"></button>
    </div>
  </div>
</div> -->

<!--The content below is only a placeholder and can be replaced.-->
<!-- <h1 style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/cli">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul> -->

<!-- <router-outlet></router-outlet> -->